

<nav class="navbar navbar-default myHeader">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand">My EE</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Shop</a></li>
        <li><a href='#'>Help</a></li>
        <li><a href='#'>Why EE</a></li>
        <li><a href='#'>5G</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="margin-top: 10px;">
      </ul>
    </div>
  </div>
</nav>
