.myHeader{
  background-color: #007B85;
  color: white;
}
.navbar-brand {
color:white;
}
.nav-link{
color:white;
}

.nav-item-text {
  font-size: 22px;
}

.nav-item-text a::after {
  background: #005A61;
  content: '';
  height: 2.8rem;
  position: absolute;
  right: 0;
  width: 0.1rem;
}

.navbar-nav{
  margin-left: 25px;
}



.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
