<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>Your Details</h3>
      <br>
      <div>
        <label>First Name</label><br>
        <input type="text" class="form-control" placeholder="First Name" />
      </div><br>
      <div>
        <label>First Name</label><br>
        <input type="text" class="form-control" placeholder="First Name" />
      </div><br>
      <div>
        <label>First Name</label><br>
        <input type="text" class="form-control" placeholder="First Name" />
      </div><br>
      <div>
        <label>First Name</label><br>
        <input type="text" class="form-control" placeholder="First Name" />
      </div><br>
      <div>
        <label>First Name</label><br>
        <input type="text" class="form-control" placeholder="First Name" />
      </div><br>
    </div>
    <div class="col-xs-6" style="background-color: blue"></div>
  </div>
</div>
