<div class="container">
  <div class="row">
    <h2>Nearby Stores</h2>
    <hr class="new3">
    <div *ngFor="let store of stores">
      {{store.city}} : {{store.location}}<br>
      Next Available appointment: <br>
      {{store.dateTime}} <br><br>
      <button class="btn-primary btn-lg rounded-button" style="background-color: #5514B4; margin-right: 30px;" (click)="clicked()">Choose this date & time</button>
      <button class="btn-default btn-lg rounded-button" style="border-color: #5514B4; color: #5514B4; margin-right: 30px;" (click)="clicked()">Choose another date & time</button>
      <hr class="new3">
    </div>
  </div>
</div>
